.layoutContent {
  .n-layout-scroll-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
  }
}

a {
  cursor: pointer;
}

.view-content {
  margin: auto 25%;
}

.about-content {
  display: flex;
}

.view-center {
  text-align: center;
}

.underLine {
  border-bottom: 3px solid #dbdbdb;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 2px;
}

.view-margin {
  margin-bottom: 45px;
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: opacity 0.3s ease;
}

.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
  opacity: 0;
}
