.clearflex {
  zoom: 1;
}

.clearflex:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.fl-left {
  float: left;
}

.fl-center {
  text-align: center;
}

.clearflex {
  margin-bottom: 15px;
}

.fitler {
  width: 400px;
}

.fl-right {
  float: right;
}

.mg {
  margin: 10px !important;
}

.left-mg-xs {
  margin-left: 6px !important;
}

.left-mg-sm {
  margin-left: 10px !important;
}

.left-mg-md {
  margin-left: 14px !important;
}

.top-mg-lg {
  margin-top: 20px !important;
}

.tb-mg-lg {
  margin: 20px 0 !important;
}

.bottom-mg-lg {
  margin-bottom: 20px !important;
}

.left-mg-lg {
  margin-left: 18px !important;
}

.title-1 {
  text-align: center;
  font-size: 32px;
}

.title-3 {
  text-align: center;
}

.keyword {
  width: 220px;
  margin: 0 0 0 30px;
}

.disUoloadSty .el-upload--picture-card {
  display: none;
  /* 上传按钮隐藏 */
}
